.DS_Store
.env
.env.*
/.svelte-kit
/.vite
/build
/package
node_modules

# Specific file(s) to ignore
.eslintrc.cjs
package.json
svelte.config.js
svelte.config.ts
tsconfig.json
vite.config.js
vite.config.ts

# Ignore local backup
*.backup.*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ! Exception
!.env.example
